Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

Series = pd.Series((4,8,15,16,23,42))

print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
import pandas as pd

list = ['A','B','C','D','E','F','G','H','I','J']

Series = pd.Series(list)

print(Series)

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:
- __Name__| __Age__ |__Gender__|
- Alice|  25   |  Female
- Bob    |  30   |  Male
- Claire |  27   |  Female.

Then, print the DataFrame.

In [23]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

Dataframe = pd.DataFrame(data)

Dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns. It is similar to a table in a relational database or a spreadsheet. Each column in a DataFrame represents a variable, and each row represents an observation or a record

Series in Pandas is a one-dimensional labeled array capable of holding any data type. It can be thought of as a single column of data from a DataFrame. A DataFrame can be seen as a collection of Series objects, where each Series represents a column.

In [22]:
#Series Example

import pandas as pd

# Creating a Series
ages = pd.Series([25, 30, 27])

print(ages)

0    25
1    30
2    27
dtype: int64

In [21]:
#Dataframe example

import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [36]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
        'Age': [25, 30, 27, 22, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']}

df1 = pd.DataFrame(data)

In [37]:
#To get the first rows of the Dataframe
df1.head(3)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [38]:
#To get last rows of the Dataframe
df1.tail(2)

    Name  Age  Gender
3  David   22    Male
4  Emily   35  Female

In [39]:
#To know the datatypes of Columuns in Dataframe
df1.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [40]:
#To know to columuns of Dataframe
df1.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [41]:
#describe(): It provides descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, etc.
df1.describe()

             Age
count   5.000000
mean   27.800000
std     4.969909
min    22.000000
25%    25.000000
50%    27.000000
75%    30.000000
max    35.000000

In [42]:
#sort_values(): It sorts the DataFrame by one or more columns.
df1.sort_values('Age')

     Name  Age  Gender
3   David   22    Male
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male
4   Emily   35  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 The mutable nature of Series and DataFrame can be discussed:
- Series: A Pandas Series is mutable, meaning you can modify the values after it has been created. You can update, add, or remove elements within a Series.
- DataFrame: A Pandas DataFrame is also mutable. You can modify the values, add or remove columns, and perform various operations to change the structure or content of the DataFrame.

The Immutable nature of Panel:
- Panel: A Panel is a three-dimensional data structure in Pandas, which is less commonly used compared to Series and DataFrame. However, starting from Pandas version 0.20.0, the Panel has been deprecated, and its use is discouraged. Instead, multi-indexing on a DataFrame is recommended to handle higher-dimensional data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [43]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])                           # Multiple Series
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name_series,
    'Age': age_series,                                         # Creating Dataframe using series
    'Gender': gender_series
}

df = pd.DataFrame(data)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female